.HeaderDashboard {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content:center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    background-color:white;
    margin:0 auto;
    z-index: 1000;
}
