.LoginForm{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    gap:10px;
}

.LoginForm div label, .LoginForm div input {
    width: 50%;
}

.LoginForm div{
    width:80%;
    align-self:start;
}


.LoginForm button {
    background-color: #2187d6;
    color: #f1f7fe;
    width: 50%;
    align-self: center;
}

.LoginForm button:hover {
    background-color: #136bb6;
}
.LoginForm button:active {
    background-color: #115593;
}