.Analisis-Comida{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}
.Analisis-Comida div:nth-of-type(2){
    text-align:center;
    width:40%;
    align-self:center;
}

.Analisis-Comida p {
    padding:15px;
    border-radius:20px;
    border:1px solid #989898;
}

.Good {
    padding: 4px;
    border: 1px solid green;
    border-radius: 20px;
    background-color: green;
}

.Bad {
    padding:4px;
    border:1px solid red;
    border-radius:20px;
    background-color: red;
}

.AlmostBad {
    padding: 4px;
    border: 1px solid yellow;
    border-radius: 20px;
    background-color: yellow;
}
