nav{
    display:flex;
    flex-direction:row;
    justify-content:space-between
}

nav ul{
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:20px;
}

.List-No-Session{
    width:100%;
    display:flex;
    justify-content:end;
}