main{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
}

#Calorias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

main section:first-of-type{
    height: 100vh;
}