.Analisis-Comida{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap:50px;
}

.Analisis-Comida p {
    padding:15px;
    border-radius:20px;
    border:1px solid #989898;
}

.Good {
    background-color: green;
}

.Bad {
    padding:4px;
    border:1px solid red;
    border-radius:20px;
    background-color: red;
}

.AlmostBad{
    background-color:yellow;
}
